
        <div class="setting-container">
            <div class="sub-setting">
                <p ></p>
            </div>
            <div class="submit-btns">
                <button class="back-btn" pButton type="button" label="Back" ></button>
                <button class="save-btn" pButton type="button" label="Save" ></button>
            </div>
        </div>
        <div *ngFor="let section of sections" class="section">
            <div class="section-title">{{ section.title }} --------------------------------------------</div>
            <div class="input-container">
                <div class="input-row" *ngFor="let row of [0, 1]">
                    <input type="text" pInputText [(ngModel)]="section.inputs[row * 2].model" />
                    <input type="text" pInputText [(ngModel)]="section.inputs[row * 2 + 1].model" />
                </div>
            </div>
        </div>
  

