<p>Publish</p>
<div class="tabs flex ">
    <button class="new-tab-btn p-button-text" (click)="addPublisher()">+</button>
    <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true">
        <p-tabPanel class="tabs-content" *ngFor="let tab of scrollableTabs" [header]="tab.title">
            <div class="publish-sec">
                <div class="controll-wrap">
                    <label>Topic:</label>
                    <input type="text" pInputText [(ngModel)]="topic" />
                    <div>
                        <button pButton pRipple class="p-button-success delete-btn">Delete</button>
                        <button pButton pRipple class="p-button-success edit-btn">Edit</button>
                    </div>
                </div>
                <div class="qos-btn">
                    <button pButton pRipple class="p-button-success">QoS: 1</button>
                    <button pButton pRipple class="p-button-success">Retain:</button>
                    <button pButton pRipple class="p-button-success publish-btn">Publish</button>
                </div>
                <textarea pInputTextarea rows="10" cols="100" class="publish-text"></textarea>
            </div>

        </p-tabPanel>
    </p-tabView>
</div>