<div class="card flex justify-content-center mt-6">
    <form [formGroup]="loginForm">
        <p-card class="card-element" [style]="{ width: '400px' }">
            <div class="field">
                <label for="username">Email</label>
                <input type="text" pInputText formControlName="email" class="w-full" name="email"
                    placeholder="Enter your email" />
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" pInputText formControlName="password" class="w-full" name="password"
                    placeholder="Enter your password" />
            </div>
            <p-button label="SIGN IN" styleClass="w-full" />
            <div class="mt-3">Not a member? <a routerLink="register">Register</a></div>
        </p-card>
    </form>
</div>