.main-container {
    margin: 40px;
}

.new-connection {
    margin-bottom: 20px;
}

button {
    background-color: #F1A91C;
    margin: 4px;
    color: black;
    border-radius: 0;
}

p-splitter {
    margin: 30px
}

span {
    margin-right: 10px;
    margin-left: 10px;
}

.connection-sec {
    margin-bottom: 20px;
}

.connection {
    background-color: #F4F4F4;
    padding-left: 0;
    padding-right: 0
}

.connection,
.subscription {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.subscription {
    padding-left: 25px;
}

.connection-sec button {
    height: 35px
}