a {
    margin-left: 10px;
    text-decoration: none;
}

.messages-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message {
    flex: 1;
}

.filter {
    flex: 1;
    text-align: right;
}

/* @media screen and (max-width: 780px) {
    .messages-container{      
     /*  width: 30%; */
    /*  flex-basis: 100%;
    }
  } */