button {
    background-color: #F1A91C;
    margin: 4px;
    color: black;
    border-radius: 0;
}

.new-connection {
    margin-bottom: 15px;
}

.p-button {
    padding: 0.75rem .75rem;
}

span {
    margin-right: 10px;
    margin-left: 10px;
}

.connection-sec {
    margin-bottom: 20px;
}

.connection {
    background-color: #e9e9e9;
    padding-left: 0;
    padding-right: 0
}

.connection,
.subscription {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    min-height: 40px; 
}
.connection button {
    margin-left: 10px; 
  }
  
  .hidden-placeholder {
    visibility: hidden; 
  }
.subscription {
    padding-left: 25px;
}

.connection-sec button {
    height: 35px
}