<div class="new-connection new-subscription">
    <button *ngIf="!hideButtons" pButton type="button" label="New Connection" (click)="newConnection()"></button>
    <button *ngIf="!hideButtons" pButton type="button" label="New Subscription" (click)="newSubscription()"></button>
</div>
<div class="container">
    <div class="connection-sec" *ngFor="let connection of connections">
        <div class="connection">
            <span  class="conn">{{ connection.name }}</span>
            <button *ngIf="!hideButtons" pButton type="button" (click)="newConnection()">Edit</button>
            <button *ngIf="!hideButtons" pButton type="button" (click)="deleteConnection(connection)">Del</button>
        </div>
        <div *ngFor="let subscription of connection.subscriptions" class="subscription ">
            <p-checkbox name="group2" value="subscription" [value]="subscription" class="chkbox"
                [(ngModel)]="subscription.enabled"></p-checkbox>
            <span>{{ subscription.name }}</span>
            <button *ngIf="!hideButtons" pButton type="button" (click)="editSubscription(subscription)">Edit</button>
            <button *ngIf="!hideButtons" pButton type="button" (click)="deleteSubscription(subscription)">Del</button>
        </div>
    </div>
</div>