<div class="new-connection new-subscription">
    <button *ngIf="!hideButtons" pButton type="button" label="New Connection" (click)="newConnection()"></button>
    <button *ngIf="!hideButtons" pButton type="button" label="New Subscription" (click)="newSubscription()"></button>
</div>
<div class="container">
    <div class="connection-sec" *ngFor="let connection of connections">
        <div class="connection">
            <span class="conn">{{ connection.name }}</span>
            <i *ngIf="!hideButtons" class="pi pi-pencil" pTooltip="Edit Connection" tooltipPosition="bottom" p-tooltip-text (click)="newConnection()"></i>
            <i *ngIf="!hideButtons" class="pi pi-trash" pTooltip="Delete Connection" tooltipPosition="bottom" (click)="deleteConnection(connection)"></i>
        </div>
        <div *ngFor="let subscription of connection.subscriptions" class="subscription ">
            <p-checkbox name="group2" value="subscription" [value]="subscription" class="chkbox"
                [(ngModel)]="subscription.enabled"></p-checkbox>
            <span>{{ subscription.name }}</span>
            <i *ngIf="!hideButtons" class="pi pi-pen-to-square" pTooltip="Edit Subscription" tooltipPosition="bottom" (click)="editSubscription(subscription)"></i>
            <i *ngIf="!hideButtons" class="pi pi-trash" pTooltip="Delete Subscription" tooltipPosition="bottom" (click)="deleteSubscription(subscription)"></i>
        </div>
    </div>
</div>